// ------------------------------------
// Footer
// ------------------------------------
.docs-footer {
  padding-top: 20px;

  &__inner {
    color: var(--docs-text-muted);
    text-align: center;
  }
}
